<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
  </head>
  <body>
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/change_password/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="old_password">Old password</label>
            <div class="controls">
                <input type="password" id="old_password" name="old_password"  placeholder="Old Password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">New password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="New Password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password_copy">New password</label>
            <div class="controls">
                <input type="password" name="password_copy" id="password_copy" placeholder="New Password">
            </div>
        </div>
        <br />
        <div class="control-group">
            <label class="control-label" for="key">Encryption type:</label>
            <select name="type" id="type">
                <option value="sha" selected>SHA-512</option>
                <option value="hmac">HMAC</option>
            </select>
        </div>
        <br />
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Change</button>
            </div>
        </div>
        </form>
        <br />
        <a href="../main">Back</a>
    </div>
  </body>
</html>
